

*{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}



#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background-color: #29262c;
  top: -12px;
  z-index: 1;
}

.nav{
  margin-left: 24px;
  text-decoration: none;
  background-color: inherit;
}

#navbar *:first-child{
  margin-left: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  background-color: inherit;
}

.nav {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.nav:hover {
  color: grey;
  
}

.nav::after {  
  content: '';
  display: block;
  height: 5px;
  background-color: #03DAC6;

  position: absolute;
  top: 42px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.nav:hover::after{
  height: 5px;
  width: 100%; 
}

body > div{
  margin-left: 26px;
  
}

#About{
  
  display: flex;
  padding-top: 100px;
  margin-top: -70px;
  align-items: center;
  justify-content: center;
}

.center{
  width: 40%;

}

p{
  color: white;
  word-spacing: 1.5px;
  line-height: 1.5em;
}

.Projects{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  row-gap: 12px;
  justify-content: center;
  
}

#ProjectWrapper{
  text-align: center;
  margin-top: 36px;
  padding-top: 100px;
  margin-top: -50px;
}


.test{
  width: 100px;
  height: 100px;
  background-color: white;
}

.Project{
  width: 350px;
  height: 350px;
  overflow: hidden;
  user-select: none;
  
}
a{
  text-decoration: none;
}

.ProjImg{
  background-size:  cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 15em rgba(0, 0, 0, 0.8);
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  cursor: pointer;
}

#Impermanence{
  background-image: url("imgs/Impermanence.png");
}

#PlantedPlanet{
  background-image: url("imgs/PlantedPlanet.png");
}

#Dreamscapes{
  background-image: url("imgs/Dreamscapes.png");
}

#overcrow{
  background-image: url("imgs/overcrowdead.png");
}

#SpotifyGroupListener{
  background-image: url("imgs/SpotifyStatusDisplay.png");
}

#ArtGallery{
  background-image: url("imgs/ArtGallery.png");
}
.ProjImg:hover{
  transform: scale(1.1, 1.1);
  box-shadow: none;
}
  
.TitleSpan {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: larger;
  font-weight: bold;
}

.Description{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  
}

#Contact{
  margin-top: -40px;
  width: 90%;
  height: 400px;
  padding-top: 100px;
  text-align: center;
  /* background-color: darkgray; */
}

#ContactInfo{
  display: grid;
  grid-template-columns: 28% 24%;
  justify-content: center;
  justify-items: center;
  margin-top: 24px;
  text-align: center;
}

.icons{
  width: 36px;
  height: 36px;
  margin: auto;
  margin-bottom: 12px;
  z-index: 100;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

#Email{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#Phone{
  display: flex;
  flex-direction: column;
  text-align: center;
}


.footer{
  margin-bottom: -24px;
}

.wave{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg");
  background-size: 1000px 150px;
  height: 150px;
  position: absolute;
  width: 100%;
  margin-left: -36px;
}

#wave2{
  background-position: 458px;
  opacity: 0.5;
}

.socials{
  padding-top: 100px;
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.SocialIcons{
  width: 36px;
  height: 36px;
  margin-bottom: 12px;
  z-index: 100;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 12px;
  top: 6px;
  transition: all ease-in 0.3s;
}

.socialLabel{
  position: relative;
  z-index: 100;
  background-color: unset;
  font-size: 18px;
  margin-left: -86px;
  margin-right: -12px;
  
}

.SocialIcons:hover{
  cursor: pointer;
  opacity: 0.5;
}